* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    background-color: #313640;
}

.container {
    display: flex;
    gap: 15px;
    height: 100%;
}

/* code editor */
#editor {
    flex: 1;
    height: 100%;
    overflow: auto;
    border-radius: 8px;
    position: relative;
}

.cm-editor {
    height: 100%;
    width: 100%;

    padding: 15px;
}

#editor button {
    font-size: medium;
    color: white;
    background-color: #313640;

    border: none;
    border-radius: 5px;

    padding: 8px 12px;

    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 50;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    transition: transform 0.1s;
}

#editor button:active {
    background-color: #2c3039;
    transform: scale(0.95);
}

/* cube display */
#glCanvas {
    flex: 1;
    border-radius: 8px;
    height: 100%;
    aspect-ratio: 1;
}

/* range sliders */
.cube-display {
    position: relative;
}

.slider {
    appearance: none;

    height: 9px;
    width: 75%;

    background: #6d6d6db0;
    border-radius: 5px;
    outline: none;
    border: none;

    position: absolute;
}

.horizontal {
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
}

.vertical {
    top: 50%;

    transform: translate(75%, 0) rotate(270deg);
}

/* .slider::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background: #cececed5;
    cursor: pointer;
    border-radius: 50%;
} */

.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #cececed5;
    cursor: pointer;
    border-radius: 50%;
}